#traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 20px auto;
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  background-color: #333; /* Тусклый цвет */
  cursor: pointer;
}

.light:focus {
  outline: none; /* Убираем стандартный outline при фокусе */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Добавляем свечение */
}

.red {
  background-color: darkred;
}

.yellow {
  background-color: darkgoldenrod;
}

.green {
  background-color: darkgreen;
}

.red.light--active {
  background-color: red; /* Яркий красный */
}

.yellow.light--active {
  background-color: yellow; /* Яркий желтый */
}

.green.light--active {
  background-color: green; /* Яркий зеленый */
}
