.circle {
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
  margin: 10px; 
  border: 2px solid black; 
  cursor: pointer; 
  outline: none; 
}

.circle-red {
  background-color: red;
}

.circle-orange {
  background-color: orange;
}

.circle-green {
  background-color: green;
}

.light--active {
  box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.7); 
}
